body {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  section {
    height: 100vh;
    background: linear-gradient(to top, #2305c7, #00c4ff);
  }
  #particles {
    width: 100%;
    height: 100%;
  }
  .fish {
    position: absolute;
  }
  .fish1 {
    top: 30%;
    height: 180px;
    animation: animate 17s linear infinite;
  }
  .fish2 {
    top: 50%;
    height: 60px;
    animation: animate 25s linear infinite;
  }
  .fish3 {
    top: 70%;
    height: 60px;
    animation: animate2 20s linear infinite;
  }
  .fish4 {
    top: 25%;
    height: 50px;
    animation: animate 35s linear infinite;
    opacity: 0.5;
  }
  .fish5 {
    top: 70%;
    height: 120px;
    animation: animate2 40s linear infinite;
    opacity: 0.5;
  }
  .diver {
    position: absolute;
    top: 10%;
    height: 50px;
    animation: animate 33s linear infinite;
  }
  @keyframes animate {
    0% {
      transform: translateY(-50px);
      left: -25%;
    }
    25% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(50px);
    }
    75% {
      transform: translateY(0px);
    }
    100% {
      transform: translateY(-50px);
      left: 150%;
    }
  }
  @keyframes animate2 {
    0% {
      transform: translateY(-50px);
      right: -25%;
    }
    25% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(50px);
    }
    75% {
      transform: translateY(0px);
    }
    100% {
      transform: translateY(-50px);
      right: 150%;
    }
  }
  @keyframes diver {
    0% {
      transform: translateY(-50px);
      right: -25%;
    }
    25% {
      transform: translateY(0px);
    }
    50% {
      transform: translateX(50px);
    }
    75% {
      transform: translateY(0px);
    }
    100% {
      transform: translateX(-50px);
      right: 150%;
    }
  }
  